In [1]:
import requests
import pandas

In [2]:
abbr = "NY"

In [3]:
st_summary = requests.get('https://colorado.rstudio.com/rsc/content/2280/summary?state=' + abbr)

In [4]:
st_summary.text

'[{"population":19795791,"hospitals":174,"counties":62,"underserved":3}]'

In [5]:
pandas.DataFrame.from_dict(st_summary.json())

   counties  hospitals  population  underserved
0        62        174    19795791            3

In [6]:
st_detail = requests.get('https://colorado.rstudio.com/rsc/content/2280/state?state=' + abbr)

In [7]:
counties = pandas.DataFrame.from_dict(st_detail.json())

In [8]:
counties.nlargest(10, 'population')

,county,county_key,fips,fit,hospitals,lwr,population,result,state,upr
23,Kings County,kings,36047,22,13,19,2636735,-1,NY,24
40,Queens County,queens,36081,19,8,17,2339150,-1,NY,22
30,New York County,newyork,36061,14,12,11,1644518,0,NY,16
51,Suffolk County,suffolk,36103,13,11,10,1501587,0,NY,15
2,Bronx County,bronx,36005,12,6,10,1455444,-1,NY,14
29,Nassau County,nassau,36059,11,10,9,1361350,0,NY,14
59,Westchester County,westchester,36119,8,11,6,976396,0,NY,11
14,Erie County,erie,36029,8,6,6,922578,0,NY,10
27,Monroe County,monroe,36055,7,5,4,749600,0,NY,9
42,Richmond County,richmond,36085,4,2,2,474558,0,NY,7

counties.nlargest(10, 'hospitals')

In [9]:
counties[counties.result == -1]

,county,county_key,fips,fit,hospitals,lwr,population,result,state,upr
2,Bronx County,bronx,36005,12,6,10,1455444,-1,NY,14
23,Kings County,kings,36047,22,13,19,2636735,-1,NY,24
40,Queens County,queens,36081,19,8,17,2339150,-1,NY,22

In [10]:
counties[counties.result == 1]

,county,county_key,fips,fit,hospitals,lwr,population,result,state,upr
12,Delaware County,delaware,36025,1,4,-1,46053,1,NY,3
44,St. Lawrence County,st.lawrence,36089,2,5,-1,111007,1,NY,4